.main-container{
  min-height: 100vh;
  min-width: 100vw;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.play-button{
  will-change: transform;
  background-color: var(--transparent);
  color: var(--text-bright);
  font-size: 30px;
  transition-duration: .5s;
}

.play-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.about-button{
  color: var(--text-dark);
}

.close-button{
  position: absolute;
  right: 20px;
  top: 200px;
  color: var(--text-dark);
}

@media (min-width: 700px) and (orientation: landscape){
  
  .play-button{
    font-size: 50px;
  }
}