#root {

}

.main-container{
  min-height: 100vh;
  min-width: 100vw;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  padding: 30px;
}
