.difficulty-container{
    display: flex;
    margin: auto 0 auto 0;
    gap: 100px;
}

.title-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    width: 100dvw;
    place-content: center;
    place-items: center;
    background-color: var(--highlight);
    transition-duration: 1s;
}

.title-container-open{
    transition-duration: 1s;
}

.title-container>h1{
    text-align: center;
}

.easy-button{
    color: var(--bg-valid);
}

.hard-button{
    color: var(--bg-danger);
}

.title{
    font-size: 80px;
}

.invisible{
    display: none;
}