.gameover-container{
    display: grid;
    gap: 30px;
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
    place-items: center;
}

.gameover-container>h2{
    font-size: 70px;
    color: var(--text-bright);
}