.gameover-container{
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr min-content 1fr;
    place-content: center;
    place-items: center;
}

.gameover-container>h2{
    font-size: 70px;
    color: var(--text-bright);
}

.set-diff-button{
    color: var(--highlight);
    font-size: 35px;
}

.play-again-container{
    display: flex;
    flex-direction: column;
    place-items: center;
}