.loading-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    place-items: center;
    place-content: center;
}

.loading-container>p{
    font-size: 50px;
    color: var(--text-bright);
}

.card-3d{
    will-change: transform;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "card";
    width: 50px;
    animation-name: rotate-card;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    perspective: 500px;
    transform-style: preserve-3d;
}

.card-3d>img{
    grid-area: card;
}

.card-3d>img:first-child{
    transform: translateZ(.1px);
}

@keyframes rotate-card {
    from {transform: rotate3d(0, 1, 0, 0deg) rotateZ(30deg);}
    to {transform: rotate3d(0, 1, 0, 360deg) rotateZ(30deg);}
}

