.tab{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.tab>p{
    font-size: 15px;
    text-wrap: wrap;
    max-width: 100dvw;
    padding: 0 30px;
    margin: 10px 0;
    color: var(--text-bright);
}

.tab a{
    cursor: pointer;
    color: var(--highlight);
    text-decoration: underline;
}

.span-highlight{
    color: var(--highlight);
}

.span-danger{
    color: var(--bg-danger);
}

.span-valid{
    color: var(--bg-valid);
}

@media (min-width: 700px) and (orientation: landscape){
    
    .tab>p{
        font-size: 40px;
    }
}